<div class="row">
  <div class="col-md-12 text-center">
    <h1>Contant us</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <strong>Address:</strong><br>
    1 Lot 7, An Duong Area <br>
    An Duong Ward <br>
    Ho Chi Minh city, Viet Nam <br>
    <strong>Phone:</strong> <br>
    (84-31) 3 858 321
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62700.70401352031!2d106.6794013650587!3d10.827070822830532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f38d513561f%3A0xe6756703891e620e!2zUGjhu58gw5RuZyBIw7luZyAtIDE5MCBMw6ogVGjDoW5oIFTDtG4!5e0!3m2!1sen!2s!4v1497330233299" width="600" height="450" frameborder="0" style="border:0" allowfullscreen/>
  </div>
</div>